<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        xmlns:android = "http://schemas.android.com/apk/res/android"
        id          = "info.pebri.weatherapp"
        versionCode = "23"
        version     = "1.1.0">
 
    <name>Simple Weather App</name>
 
    <description>
        A simple weather application
    </description>
 
    <author href="http://pebri86.org" email="pebri86@gmail.com">
        Fuji Pebri
    </author>
 
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
 
</widget>
